
body{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	
	font-weight: 200;
/*	background: #FFFCF5;
*/}

.spacing{

	min-height: 20px;
}

#wrapper {
	min-height:100%;
   position:relative;
}


#maincontainer{
	padding-top: 10px;
}


/*///////////////////////////////////////////////////*/

/*Nav menu */


#main_logo{
	max-width: 150px;
}

#menu{
	margin-top:15px;

    max-height: 50px;
    border: none;
}

#menu .item{
	color:black;
}

#m_btn{

	display: none;}

#right_menu{

	color: black;
	margin-right:5%;

}

/*//////////////////////////////////////////////////////////*/


/*
tests for css logo; not used*/
.boxed{
	width: 140px;
	height: 80px;
	color: white;
	background-color: black;
	margin-left: 5%;
}
.boxed #logo{
	font-family: 'Rubik Mono One', sans-serif !important;
	font-size: 24px;
}
.boxed #sublogo{
	font-family: sans-serif !important;
	font-size: 18px;

}

/**/








/*Jumbo image*/
#jumboimage{
	width: 100%;
	height: auto;
	min-height: 100%;
}


.quickAddheader{
	padding-bottom: 10px;
	font-size: 5rem;
}

.quickAddform{
	margin-top: 50px;
}

.quickForm{
	border: none !important;

}
.quickSelect{


}

#jumbotron{
	margin-left: 10%;
	margin-right: 10%;

}
 
#super_text{
	padding-top: 10%;
	font-weight: bolder;
	font-size: 3rem;
}
#home{
	
	padding-top: 5%;
	padding-bottom: 20%;
	overflow: hidden;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 10px;
	margin-top: 10px;

	color:#666;
}

.homecolumns{

	display: flex;
	align-items:stretch;
}

.homecolumns .header{
	color: black;
	margin-top: 10px;
	margin-left: 20px;
}
.homecolumns .fa{

	color: #ff6e00;
	font-size: 4em;
}

.text{
	color: #BDBDBD;
}



/*Footer*/
#footer {

	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;

	/*background: white;*/
	width:100%;
	padding: 0 20px;
	/*color:black;*/
}
/*
#footer .item{
	color:black;
}*/


.information{
	background-color:lightgray !important;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}


/* Sign in / up forms */
.main_page_container{
	padding-top: 5%;
	padding-bottom: 20%;
	/*overflow: hidden;*/
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
	margin-top: 10px;
	
	color:#666;
}

.at-form{

	margin-top: 20px;
	margin-bottom:20px;
	
}


#at-field-name{
	color:red;  /*for testing*/
}
#at-btn{
	background-color: black;
	color:white;
	font-weight: bold;
}

.ui.stacked.segment{
	border:none;
}

/*AddJob*/

.addJobForm{

	margin-left: 20%;
	margin-right: 20%;
}

.addJobFormSteps{

	text-align: center;
	border: none !important;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 30px !important;
	margin-top: 30px !important;



}

.addJobFormFields{

	color: blue;
}


.ui.top.button{
	background-color: white;

}

.ui.top.button:hover {
  background-color: black;
  color: white;
}



/*///////////////////////////////////*/

/*MAP*/
.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

@media all and (min-width: 631px){
	html body.pushed{
		margin-left: 0 !important;
	}
	#m_menu.active{
		display: none;
		z-index: 1;
	}
	#mainHead h2{
		display: none;
	}
}

@media all and (max-width: 630px){
	#menu{display: none;}
	#m_btn{
		display: inline-block;
	}
	body.pushed{
		overflow: hidden;
	}
	#mainHead .ui.icon.header.huge{
		display: none;
	}
}





