<template name="myAccount">
	
	<h1> Account Details</h1>
	
	
<div class="ui vertical menu" id="hybrid">
  <div class="ui dropdown item">
    <i class="dropdown icon"></i>
    Colors
    <select>
      <option>Red</option>
      <option>Black</option>
      <option>Blue</option>
      <option>Green</option>
    </select>
  </div>
  <div class="ui dropdown item">
    <i class="dropdown icon"></i>
    Sizes
    <select>
      <option>Small</option>
      <option>Medium</option>
      <option>Large</option>
      <option>Huge</option>
    </select>
  </div>
</div>


</template>