<template name="home">
<img id ="jumboimage" src="imgs/logoimage_smaller3.png" alt="jumboimage">
<div id="home" class="ui stackable three column grid">
    <div class="column">
        <div class="ui segment"> 
            <div class=item>
                <a class="item" href="/addJob">
                <h2 class="ui header"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Create a job</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
              
                </a>
            </div>
        </div>       
    </div>
    <div class="column">
        <div class="ui segment"> 
            <h2 class="ui header"><i class="fa fa-search" aria-hidden="true"></i> Look for opportunities</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                

        </div>
                
    </div>
    <div class="column">
        <div class="ui segment"> 
            <h2 class="ui header"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Rate and review</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
           
        </div>
                
    </div>
</div>
















<!-- <div class="ui page grid">
	<div class="ui header"><h1 class="ui center header">Jump into action</h1></div>
    <div class="three column row">

        <div class="column">
            <h2 class="ui header"><i class="fa fa-search" aria-hidden="true"></i> Look for opportunities</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            
        </div>
        <div class="column">
            <h2 class="ui header"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Rate and review</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
       
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui divider"></div>  
            <span>&copy; Company 2014</span>
        </div>
    </div>
</div>
 -->


</template>