<template name="home">
  <div id="jumbotron" class="ui two column grid">
    <div id="super_text" class="column">
      <h1>Simple and Effective</h1>
      
      <div>
        <p></p>
        <h2>Your home ideas, plans, needs </h2>
        <h2>Taken care of fast and reliable</h2>
      </div>
      <div>
        <h4>Just post the work to be done and the wide selection of available handymans will take care of the rest

        </h4>
        
      </div>
    </div>
    <div class="column">
      
      <img id ="jumboimage" class="ui fluid image" src="imgs/smallhouse.jpg" alt="jumboimage">
    </div>
  </div>
  <div class="ui main container">
  
      <div id="main_actions">
        <div id="home" class="ui stackable three column grid">
          <div class="column">
                <a class=" item" href="/addJob">
                  
                  <div class="homecolumns">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <span class ="header"><h2>Post request</h2></span>
                  </div>
                  <div class="ui divider"></div>
                  <div class="text">
                    <h4>
                      In 3 quick steps you can post a job request so an entrepreneur would respond
                    </h4>
                    <p>
          Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. 
                    </p>
                  </div>
                  
                  
                </a>
          </div>
          
          <div class="column">
            
                <a class=" item" href="/addJob">
                  
                  <div class="homecolumns">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <span class ="header"><h2>Entrepeneur looking for jobs</h2></span>
                  </div>
                  <div class="ui divider"></div>
                  <div class="text">
                    <h4>
                      As an entrepeneur search for all available jobs
                    </h4>
                            <p>
          Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. 
                    </p>
                  </div>
                  
                  
                </a>
         
          </div>


          <div class="column">
            
                <a class=" item" href="/addJob">
                  
                  <div class="homecolumns">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span class ="header"><h2>Rate & Review</h2></span>
                  </div>
                  <div class="ui divider"></div>
                  <div class="text">
                    <h4>
                      You have had one job completed?
                      This is the place to share your thoughts, comments and provide reviews yo your entrepeneur
                    </h4>
        <p>
          Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. 
                    </p>
                  </div>
                  
                  
                </a>
           
          </div>
        </div>
      </div>
  

  </div>

</template>