<template name="home">
  <div id="jumbotron" class="ui two column grid">
    <div id="super_text" class="column">
      <h1>Simple and Effective</h1>
      
      <div>
        <p></p>
        <h2>Your home ideas, plans, needs </h2>
        <h2>Taken care of fast and reliable</h2>
      </div>
      <div>
        <h4>Just post the work to be done and the wide selection of available handymans will take care of the rest

        </h4>
        
      </div>
    </div>
    <div class="column">
      
      <img id ="jumboimage" class="ui fluid image" src="imgs/smallhouse.jpg" alt="jumboimage">
    </div>
  </div>
  <div class="ui main container">
  
      <div id="main_actions">
        <div id="home" class="ui stackable three column grid">
          <div class="column">
                <a class=" item" href="/addJob">
                  
                  <div class="homecolumns">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <span class ="header"><h2>Create a job</h2></span>
                  </div>
                  <div class="ui divider"></div>
                  <div class="text">
                    <h4>
                      Tell us what you need
                    </h4>
                    <p>
                    	In 3 quick steps you can create a job that you need to be done. Provide description so that the entrepreneurs 
                    	can offer a good quotation
                    </p>
                  </div>
                  
                  
                </a>
          </div>
          
          <div class="column">
            
                <a class=" item" href="/addJob">
                  
                  <div class="homecolumns">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <span class ="header"><h2>Find a job</h2></span>
                  </div>
                  <div class="ui divider"></div>
                  <div class="text">
                    <h4>
                      Entrepeneur looking for a job
                    </h4>
                    <p>
                    	Browse the available jobs and , book them and provide the quotation to the owner.
                    	If selected, the job is your to take
                    </p>
                  </div>
                  
                  
                </a>
         
          </div>


          <div class="column">
            
                <a class=" item" href="/addJob">
                  
                  <div class="homecolumns">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span class ="header"><h2>Rate & Review</h2></span>
                  </div>
                  <div class="ui divider"></div>
                  <div class="text">
                    <h4>
                    	Job done - leave feedback
                    </h4>
        			<p>
        				You have had one job completed?
                      This is the place to share your thoughts, comments and provide reviews 
                   
                    </p>
                  </div>
                  
                  
                </a>
           
          </div>
        </div>
      </div>
  

  </div>

</template>