<template name="addJobContact">
	

	<div class="ui pagination menu">
  <a class="disabled item">
    Create your Job
  </a>
  <div class="active item">
    Contact Details
  </div>
   <div class="disabled item">
    Coonfirmation
  </div>
</div>

{{#autoForm collection="Jobs" id="insertJobForm" type="insert"}}
<fieldset>
			<div class="field">
		     	<p></p>
		     	{{> afQuickField name='location' placeholder='"e.g Simion Barnutiu , Timisoara"'}}

		     </div>
 			
 			<div class="field">
 			<p></p>
 				{{> afQuickField name='phone' rows=1 placeholder='"We ask for your phone number because most tradespeople will give you a call to arrange a quote."'}}
		     </div>

</fieldset>
	  	{{/autoForm}}
</template>


